.p{
 color: white;
 margin-top: 30px;
 font-size: 35px;
 font-family: monospace;
}
body{
    background-color: rgb(255, 255, 255);
}
.container1{ 
    width: auto;
    height: 100px;
    background-color: rgb(234, 238, 184); 
    display: flex;    

  
}
.container2{ 
    width: 100px;
    height: 100px;
    background-color: rgb(0, 132, 255);
    display: flex;  
    justify-content: center;   
}
.container3{ 
    width: 100px;
    height: 100px;
    background-color: rgb(2, 47, 88); 
    display: flex;
    justify-content: center;

}
.container4{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 119);
    display: flex;    
    justify-content: center;
}
.container5{ 
    width: 100px;
    height: 100px;
    background-color: rgb(180, 158, 31); 
    display: flex;  
    justify-content: center;
}
.container6{
    width: auto;
    height: 100px;
    background-color: rgb(234, 238, 184); 
    display: flex; 
    margin-top: 10px; 
    justify-content: right;  
}
.container7{  
    width: 100px;
    height: 100px;
    background-color: rgb(0, 132, 255);
    display: flex;  
    justify-content: center;    
}
.container8{
    width: 100px;
    height: 100px;
    background-color: rgb(2, 47, 88); 
    display: flex;
    justify-content: center;    
}
.container9{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 119);
    display: flex;    
    justify-content: center;

}
.container10{ 
    width: 100px;
    height: 100px;
    background-color: rgb(180, 158, 31); 
    display: flex;  
    justify-content: center;  
}
.container11{
    width: auto;
    height: 100px;
    background-color: rgb(234, 238, 184); 
    display: flex; 
    margin-top: 10px;
    justify-content: center; 
} 
.container12{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 132, 255);
    display: flex;  
    justify-content: center;     

} 
.container13{
    width: 100px;
    height: 100px;
    background-color: rgb(2, 47, 88); 
    display: flex;
    justify-content: center; 

} 
.container14{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 119);
    display: flex;    
    justify-content: center;

} 
.container15{
    width: 100px;
    height: 100px;
    background-color: rgb(180, 158, 31); 
    display: flex;  
    justify-content: center;  

} 
.container16{
    width: auto;
    height: 100px;
    background-color: rgb(234, 238, 184); 
    display: flex;   
    margin-top: 10px; 

} 
.container17{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 132, 255);
    display: flex;  
    justify-content: center; 


} 
.container18{
    width: 100px;
    height: 100px;
    background-color: rgb(2, 47, 88); 
    display: flex;
    justify-content: center; 
    margin-left: 200px;
    

} 
.container19{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 119);
    display: flex;    
    justify-content: center;
    margin-left:600px ;
    margin-right: 200px;

} 
.container20{
    width: 100px;
    height: 100px;
    background-color: rgb(180, 158, 31); 
    display: flex;  
    justify-content: center;  

} 
.container21{
    width: auto;
    height: 100px;
    background-color: rgb(234, 238, 184); 
    display: flex;   
    margin-top: 10px; 
} 
.container22{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 132, 255);
    display: flex;  
    justify-content: center;  
    margin-left: 100px;  

} 
.container23{
    width: 100px;
    height: 100px;
    background-color: rgb(2, 47, 88); 
    display: flex;
    justify-content: center; 
    margin-left: 200px;


} 
.container24{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 119);
    display: flex;    
    justify-content: center;
    margin-left: 400px;
    margin-right: 200px;

} 
.container25{
    width: 100px;
    height: 100px;
    background-color: rgb(180, 158, 31); 
    display: flex;  
    justify-content: center; 
    margin-right: 100px; 
    
    
} 
.container26{
    width: auto;
    height: 100px;
    background-color: rgb(234, 238, 184); 
    display: flex;   
    margin-top: 10px; 

} 
.container27{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 132, 255);
    display: flex;  
    justify-content: center;
    margin-left: 200px;    

} 
.container28{
    width: 100px;
    height: 100px;
    background-color: rgb(2, 47, 88); 
    display: flex;
    justify-content: center; 
    margin-left: 200px;
    margin-right: 200px;


} 
.container29{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 119);
    display: flex;    
    justify-content: center;
    margin-right: 200px;

} 
.container30{
    width: 100px;
    height: 100px;
    background-color: rgb(180, 158, 31); 
    display: flex;  
    justify-content: center;
    margin-right: 200px;
}
.container31{ 
    width: 100px;
    height: auto;
    background-color: rgb(234, 238, 184); 
    display: flex;
    margin-top: 25px;
    flex-direction: column-reverse; 

  
}
.container32{ 
    width: 100px;
    height: 100px;
    background-color: rgb(0, 132, 255);
    display: flex;  
    justify-content: center;   
}
.container33{ 
    width: 100px;
    height: 100px;
    background-color: rgb(2, 47, 88); 
    display: flex;
    justify-content: center;

}
.container34{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 119);
    display: flex;    
    justify-content: center;
}
.container35{ 
    width: 100px;
    height: 100px;
    background-color: rgb(180, 158, 31); 
    display: flex;  
    justify-content: center;
}
.container36{ 
    width: auto;
    height: 100px;
    background-color: rgb(234, 238, 184); 
    display: flex;
    margin-top: 25px;
    flex-direction: row-reverse;
    justify-content: left;
  
  
       

  
}
.container37{ 
    width: 100px;
    height: 100px;
    background-color: rgb(0, 132, 255);
    display: flex;  
    justify-content: center;
      
}
.container38{ 
    width: 100px;
    height: 100px;
    background-color: rgb(2, 47, 88); 
    display: flex;
    justify-content: center;

}
.container39{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 119);
    display: flex;    
    justify-content: center;
}
.container40{ 
    width: 100px;
    height: 100px;
    background-color: rgb(180, 158, 31); 
    display: flex;  
    justify-content: center;
}